@charset "UTF-8";

/* 기본값 여백 제거 */
*{padding: 0px;margin: 0px;}

/* 사이드바 */
.sidebar{
	background-color: black;
	color: white;
	width: 200px;
	position: absolute;
	top : 0; /* 위에서 0 만큼 떨어짐 */
	bottom: 0; /* 아래에서 0만큼 떨어짐  [사이드바를 위아래로 다 사용함]*/
	left : -170px; /* 사이드바 숨기기 */
	transition : 0.5s /* [애니메이션 효과] 트랜지션 (css 변경 시간(초)) */
}

/* 사이드바 메뉴 */
.sidemenu{padding: 50px;} /* 사이드바 목록 */
.side_item{margin: 30px 0 ;} /* 사이드바 목록 여백 */
.side_item li{list-style: none;}  /* 글머리 제거 */
.side_item a{color: white; text-decoration: none;}  /* 링크색상 , 링크밑줄제거 */
.side_item h1{margin:  20px;} /* 사이드바 제목 */



