@charset "UTF-8";

/* css 기본 설정 */
*{ margin : 0; padding: 0; font-family: "맑은 고딕" ;
}
a{ text-decoration: none; color: black; }
a:hover { order: #eeeeee; }
li{ list-style-type: none; }
/* ------------------------ 헤더 ----------------------------*/
#header{ height: 100px; }
.box{ width: 1200px; margin: 0 auto; position: relative; }
.logo{ position: absolute; top:20px; left: 20px; }
.logo_impact{ color: blue; font-weight: bold; }
.top_menu{ position: absolute; right: 20px; top:30px; }
.top_menu li{ display: inline; margin-left: 20px; }

/* ----------------메인 이미지 ---------------*/
#main_img{ text-align: center; 
			background-image: url("img/sub_intro.jpg");
			width: 100%; height: 380px;
			background-position: topcenter;}
.main_imgbox li { margin-bottom: 5px; }
.img_text{ padding-top: 130px;
		color: #f9f5db }
		
/*  ---------------- 본문 ---------------*/
#center{ width: 1200px; height: 800px; margin: 0 auto;}
.centerbox img{float:left; width: 600px; height: 400px;
padding-top: 70px;}
.centerbox ul{float: left; padding-top: 90px;
margin-left: 30px;}
.centerbox h1{ padding-bottom: 10px; }
.centerbox li {padding-bottom: 30px;}
/* ---------------내용 -------------------*/
#

/* -------------------- 푸터 --------------*/
#footer{ clear: both; background-color: black; color: white;
		 padding: 20px; height: 250px; }
.ft_item{ float: left; width: 380px; margin-top: 50px; }
.ft_item li{ display: inline ; }
.ft_item ul{ margin-bottom: 20px; }
.ft_sns{ float: right; width: 380px; margin-top: 50px;
		 text-align: center; }
.ft_sns img{ margin-left: 10px; }
