@charset "UTF-8";

/* css 기본 설정 */
*{ margin : 0; padding: 0; font-family: "맑은 고딕" }
a{ text-decoration: none; color: black; }
a:hover { order: #eeeeee; }
li{ list-style-type: none; }

/* 페이지 실제 사이즈 */
.box{ width: 1200px; margin: 0 auto; position: relative; }
/* ------------------------ 헤더 ----------------------------*/
#header{ height: 100px; }
.logo{ position: absolute; top:20px; left: 20px; }
.logo_impact{ color: blue; font-weight: bold; }
.top_menu{ position: absolute; right: 20px; top:30px; }
.top_menu li{ display: inline; margin-left: 20px; }
/* ----------------------- 메인이미지 ------------------------ */
#main_img{ text-align: center; }
/*------------------------ 배너 ------------------*/
#banners{  height: 200px; }
.banner{ float:left; width: 550px; margin: 50px 20px;  }
.bn_col1{ float: left; width: 100px; }
.bn_col2{ float: right; width: 450px; }
/* ----------------------- 아이템 소개  ------------------------ */
#items{ clear: both;  background-color: #eeeeee; width: 100%; height: 300px; }
.item{ float: left; width: 250px; margin: 50px 20px; }
.item img{ width: 100%; }






/*-------------------페이지 이미지----------------- */
#pageImg{
	background-image: url("img/sub_reservation.jpg");
	width: 80%;
	height: 340px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.pageImgMain{
	text-align: center;
	padding-top: 110px;
	
}
.ImgText{
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: white;
}
.ImgTestSub{
	text-align: center;
	font-size: 15px;
	color: white;	
}





/*-------------------예약 선택 페이지------------------------  */
#reservationCalendar {
	background-color: white;
 	margin: 50px 0 90px 400px; 
	width: 700px;
	height: 690px;     /*  */
	background-color: #fcf9ea;
	float: left;
} 
 #reservationText{
	background-color: #fcf9ea;
} 

#reservationChoice{
	text-align: center;
	padding: 30px 0 10px 0;
}
#reservationCalendarChoice{
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
}


#reservationCalendarTable {
	margin: 0 auto;
	border: 2px solid black;
	background-color: white;
	width: 670px;
	height: 400px;
	border-collapse:collapse;
}
 td {
	border: 2px solid black;
	vertical-align: top;
	width: 80px;
	height: 90px;
} 

.sunday{
	color: red;
}
#weekSun  , #weekMon , #weekTue , #weekWed ,#weekThu ,#weekFri ,#weekSet{
	text-align: center;
	height:25px;
}

#reservationText{
	background-color: white;
	clear: both;
	float: right;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 490px;
	right: 280px;
}
.reservationTextTmi{
/* 	font-size: 20px; */
/* 	font-weight: bold; */
/* 	border-left: 20px; */
    padding: 15px 15px 15px 15px;
}
.reseervationGuide{
	border-left: 5px solid black; 
	font-weight: bold;
	font-size: 20px;
	padding: 0 0 0 10px;
}

.comment{
	padding: 10px 10px 15px 0;
	font-size: 15px;	
}
.commentTmi{
	color: green;
}



/* ----------------------- 푸터  ------------------------ */
#footer{ 
	clear: both;  background-color:#292c32; color: white;   
	padding: 20px; height: 250px;
}
.ft_item{ float: left; width: 380px; margin-top: 50px; }
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; }
.ft_sns{ float: right; width: 380px; margin-top: 50px; text-align: center; }
.ft_sns img{ margin-left: 10px;}